@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@layer components {
    .container {
        @apply w-[95%] md:w-[85%] lg:w-[75%] mx-auto;
    }

    .dropdown-menu-item {
        @apply block px-4 py-2 text-[1rem] text-[#11263c] hover:bg-gray-100 hover:text-[#fd6011] duration-300 cursor-pointer;
    }
}

.swiper-button-prev,
.swiper-button-next {
    color: #eeeff0 !important;
    font-size: 1rem !important;
    font-weight: 600 !important;
}
